bucketName=""
initialSyncFile="initialSync.config" #sync file to state last sync date
dirsList="DirsToBackup.config"
tempFolder="/tmp"
logFile="backup-$(date +%F).log"
uploadLog="upload-$(date +%F).log"
key1="id_rsa.pub.key"
key2="id_rsa.key"
fileModifiedAge="1 week ago" 
DEBUG="1"
